
// ~~~~~~~~~~ VARIABLES ~~~~~~~~~~ //

$slide_numbers: 1, 2, 3; /* a list for number of slides in slider */
$slide_bgcolor: #3EA9F5, #F53E3E, #3EF550; /* a list for bgcolor of each slides */
$slideinfo_txtcolor: #165254, #551515, #0F4B15; /* a list for info text color of each slides */
$slideinfo_linkbgcolor: #165254, #691A1A, #11401C; /* a list for info link bg color of each slides */

$corevalues_numbers: 1, 2, 3; /* a list for number of core values */
$corevalue_bgcolor: #6F3096, #9567E0, #F7A579; /* a list for bgcolor of each core values */
$corevalue_txtcolor: #C567FF, #3C285C, #694821; /* a list for bgcolor of each core values */

$artworks_numbers: 1, 2, 3, 4, 5, 6; /* a list for number of artworks */
$artworkcaption_bgcolor: #C540C4, #717171, #B44D45, #00121C, #C61700, #7C9F95; /* a list for bgcolor of each artwork caption */



// ~~~~~~~~~~ MIXINS ~~~~~~~~~~ //

/* mixin for creating media query screens */
@mixin media_query ($min-width, $max-width) { /* require min-width and max-width */

	/* pass on the values of minimum width and maximum width to the media query */
	@media screen and (min-width:$min-width) and (max-width:$max-width) {

		@content; /* insert content inside media query */
	}
}

/* mixin for centering the items in HTML */
@mixin center_items {

	/* set display to flex to make use of align items and justify content */
	display: flex;

	/* use align items and justify content to center the items */
    align-items: center;
    justify-content: center;
}

/* mixin for space around in justifying content and aligning items to center in HTML */
@mixin spaceAround_items {

	/* set display to flex to make use of align items and justify content */
	display: flex;

	/* use align items to center the items and justify content to space around the items */
    align-items: center;
    justify-content: space-around;
}


// ~~~~~~~~~~ IMPORTS ~~~~~~~~~~ //

/* 

Import the following fonts:

font-family: 'Anonymous Pro', monospace;
font-family: 'Iceberg', cursive;
font-family: 'Iceland', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Risque', cursive;

*/

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400&family=Iceberg&family=Iceland&family=Inter:wght@400;600;900&family=Kaushan+Script&family=Risque&display=swap');


/* Import the Reveal Animation CSS */
@import url('RevealAnimation.css');




// ~~~~~~~~~~ STYLES ~~~~~~~~~~ //

/* Set box-sizing of all items to border-box */
* {
    box-sizing: border-box;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*======================================================================================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* BODY */
body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #050D37;
    font-family: 'Inter', sans-serif;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*======================================================================================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* HEADER */
header {
    width: 100%;
    height: 100px;
    padding: 10px 0;
    background-color: #050D37;

    /* used the spaceAround_items mixin for making the items space around in div */
    @include spaceAround_items();

    /* PISTEU LOGO */
    img {
        height: 80%;
        margin-right: 30px;
    }

    /* HEADER NAVIGATION CONTAINER */
    .header_navigation {
        min-width: 40%;
        
        /* used the center_items mixin for making the items space around in div */
        @include spaceAround_items();


        /* HEADER NAVIGATION LINKS */
        a {
            color: white;
            width: max-content;
            white-space: nowrap;
            font-size: 14px;
            padding: 10px 15px;
            text-transform: uppercase;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            border-radius: 10px;
            transition: 0.5s all ease;

            /* HEADER NAVIGATION LINKS HOVER */
            &:hover {
                cursor: pointer;
                color: #8ECECF;
                border-top: 2px solid #6F3096;
                border-bottom: 2px solid #6F3096;
                border-radius: 0;
            }

            /* used the media_query mixin for creating the media query for 576PX to 950PX in header navigation */
            @include media_query(576px, 950px){
                font-size: 12px;
            }

            /* used the media_query mixin for creating the media query for 401PX to 575PX in header navigation */
            @include media_query(401px, 575px){
                font-size: 11px;
            }

            /* used the media_query mixin for creating the media query for 0PX to 400PX in header navigation */
            @include media_query(0px, 400px){
                width: 100%;
                margin: 15px 0;
                text-align: center;
                font-size: 10px;
                padding: 15px auto;
                border-top: 2px solid #6F3096;
                border-bottom: 2px solid #6F3096;
                border-radius: 0;
            }
        }

        /* HEADER NAVIGATION ACTIVE LINK */
        a.active_Header {
            background-color: #6F3096;

            /* HEADER NAVIGATION ACTIVE LINK HOVER */
            &:hover {
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
                border-radius: 10px;
            }
        }
    }

    /* used the media_query mixin for creating the media query for 401PX to 575PX in header */
    @include media_query(401px, 575px){
        flex-direction: column;
        height: auto;

        /* PISTEU LOGO */
        img {
            width: 40%;
            height: auto;
            margin: 20px auto 30px auto;
        }

        /* HEADER NAVIGATION CONTAINER */
        .header_navigation {
            width: 90%;
            margin: 0 -10px 20px 0;
        }
    }

    /* used the media_query mixin for creating the media query for 0PX to 400PX in header */
    @include media_query(0px, 400px){
        flex-direction: column;
        height: auto;

        /* PISTEU LOGO */
        img {
            width: 60%;
            height: auto;
            margin: 20px auto 30px auto;
        }

        /* HEADER NAVIGATION CONTAINER */
        .header_navigation {
            flex-direction: column;
            width: 80%;
            margin-bottom: 30px;
        }
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*======================================================================================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* SLIDER CONTAINER */
.slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #050D37;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*======================================================================================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* SLIDE CONTAINER */
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
    z-index: 1;
    display: flex;
    align-items: center;
    overflow: hidden;

    /* ACTIVE SLIDE CONTAINER */
    &.active {
        clip-path: circle(150% at 0 50%);
        transition: 1s;
        transition-property: clip-path;
    }

    /* SLIDE IMG */
    img {
        z-index: 1;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: auto;
        object-fit: cover;
        object-position: right bottom;
    }

    /* SLIDE INFO CONTAINER */
    .info {
        width: 70%;
        padding: 0 0 50px 50px;
        display: flex;
        flex-direction: column;
        z-index: 2;
        
        /* INFO TITLE */
        h2 {
            color: white;
            font-size: 96px;
            text-transform: uppercase;
            font-weight: 900;
            margin: 0;
            letter-spacing: 2px;
        }

        /* INFO DESCRIPTION */
        p {
            width: 80%;
            font-size: 32px;
            font-weight: 600;
            line-height: 39px;
            margin: 20px 0;
        }

        /* INFO LINK */
        a {
            color: white;
            font-size: 14px;
            margin-top: 20px;
            padding: 20px 90px;
            text-transform: uppercase;
            border-radius: 5px;
            width: max-content;

            /* INFO LINK HOVER */
            &:hover {
                cursor: pointer;
                background-color: #050D37;
            }
        }

        /* used the media_query mixin for creating the media query for 551PX to 900PX in slide info */
        @include media_query(551px, 900px){
            width: 80%;

            /* INFO TITLE */
            h2 {
                font-size: 75px;
            }

            /* INFO DESCRIPTION */
            p {
                font-size: 25px;
            }

            /* INFO LINK */
            a {
                padding: 20px 60px;
            }
        }

        /* used the media_query mixin for creating the media query for 351PX to 550PX in slide info */
        @include media_query(351px, 550px){
            width: 80%;

            /* INFO TITLE */
            h2 {
                font-size: 55px;
            }

            /* INFO DESCRIPTION */
            p {
                font-size: 20px;
            }

            /* INFO LINK */
            a {
                font-size: 12px;
                padding: 20px 30px;
            }
        }

        /* used the media_query mixin for creating the media query for 0PX to 350PX in slide info */
        @include media_query(0px, 350px){
            width: 100%;
            padding-left: 0;
            text-align: center;
            padding-left: 0;

            /* used the center_items mixin for centering the items in div */
		    @include center_items();

            /* INFO TITLE */
            h2 {
                font-size: 45px;
                width: 92%;
            }

            /* INFO DESCRIPTION */
            p {
                font-size: 17px;
                width: 92%;
            }

            /* INFO LINK */
            a {
                font-size: 11px;
                padding: 20px 30px;
            }
        }
    }


    /* Each loop that iterates all the slide numbers (used to set the bg color, description text color, and link bg color of each slide) */
    @each $num in $slide_numbers {

        /* .slide.slide1 to .slide.slide3 */
        &.slide#{$num}{
            background-color: nth($slide_bgcolor, $num); /* set the slide bg color to the corresponding $num value of $slide_bgcolor list */

            /* Info Description of .slide#{$num} */
            .info p {
                color: nth($slideinfo_txtcolor, $num); /* set the info text color to the corresponding $num value of $slideinfo_txtcolor list */
            }

            /* Info Link of .slide#{$num} */
            .info a {
                background-color: nth($slideinfo_linkbgcolor, $num); /* set the info link bg color to the corresponding $num value of $slideinfo_linkbgcolor list */
            }
        }
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*======================================================================================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* NAVIGATION DOT CONTAINER */
.navigation {
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    /* NAVIGATION DOT BUTTON */
    .btn {
        background-color: white;
        width: 12px;
        height: 12px;
        margin: 10px;
        border-radius: 50%;
        cursor: pointer;

        /* ACTIVE DOT BUTTON */
        &.active {
            background-color: black;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        }
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*======================================================================================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* CORE VALUES CONTAINER */
.core_values {
    width: 100%;
    min-height: 450px;
    display: flex;

    /* EACH CORE VALUE CONTAINER */
    & > * {
        width: 33.3333%;
        padding: 40px 0;
        display: flex;
        flex-direction: column;

        /* CORE VALUE TITLE CONTAINER */
        .core_title {
            min-width: 80%;
            margin-bottom: 15px;

            /* used the center_items mixin for centering the items in div */
		    @include center_items();

            /* CORE VALUE IMAGE */
            img {
                width: 30%;
                height: max-content;
                object-fit: cover;
                margin-right: 20px;
                margin-left: -50px;
            }

            /* CORE VALUE TITLE TEXT */
            h2 {
                width: max-content;
                font-family: 'Iceberg', cursive;
                font-size: 40px;
                letter-spacing: 3px;
                color: white;
            }

            /* used the media_query mixin for creating the media query for 801PX to 1200PX in core title */
            @include media_query(801px, 1200px){

                flex-direction: column;

                /* CORE VALUE IMAGE */
                img {
                    margin-left: 0;
                }
            }
        }

        /* CORE VALUE DESCRIPTION TEXT */
        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 40px;
            padding: 0 10%;
        }
    }

    /* Each loop that iterates all the core value numbers (used to set the bg color and description text color of each core value) */
    @each $num in $corevalues_numbers {

        /* .core_values .corevalue_1 to .core_values .corevalue_3 */
        .corevalue_#{$num}{
            background-color: nth($corevalue_bgcolor, $num); /* set the core value bg color to the corresponding $num value of $corevalue_bgcolor list */
            color: nth($corevalue_txtcolor, $num); /* set the core value bg color to the corresponding $num value of $corevalue_bgcolor list */
        }
    }


    /* used the media_query mixin for creating the media query for 551PX to 800PX in core values */
    @include media_query(551px, 800px){

        flex-wrap: wrap;

		/* EACH CORE VALUE CONTAINER */
        & > * {

            width: 50%;

            /* CORE VALUE TITLE CONTAINER */
            .core_title {

                flex-direction: column;

                /* CORE VALUE IMAGE */
                img {
                    width: 20%;
                    margin-left: 0;
                }

                /* CORE VALUE TITLE TEXT */
                h2 {
                    font-size: 35px;
                }
            }            
        }

        /* CORE VALUE DESCRIPTION TEXT */
        p {
            font-size: 18px;
        }

        .corevalue_3 {
            width: 100%;
            text-align: center;
        }
	}

    /* used the media_query mixin for creating the media query for 0 to 550PX in core values */
    @include media_query(0px, 550px){

        flex-wrap: wrap;

		/* EACH CORE VALUE CONTAINER */
        & > * {

            width: 100%;

            /* CORE VALUE TITLE CONTAINER */
            .core_title {
                flex-direction: column;
                

                /* CORE VALUE IMAGE */
                img {
                    width: 20%;
                    margin-left: 0;
                }

                /* CORE VALUE TITLE TEXT */
                h2 {
                    font-size: 35px;
                    margin-bottom: 5px;

                    /* used the media_query mixin for creating the media query for 0 to 550PX in core value title text */
                    @include media_query(0px, 350px){
                        font-size: 25px;
                    }
                }
            }            
        }

        /* CORE VALUE DESCRIPTION TEXT */
        p {
            font-size: 18px;
            text-align: center;

            /* used the media_query mixin for creating the media query for 0 to 550PX in core value description text */
            @include media_query(0px, 350px){
                font-size: 12px;
                line-height: 30px;
            }
        }
	}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*======================================================================================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* SUBHEADING CONTAINER */
.subheading {
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;

    /* SUBHEADING TITLE TEXT */
    h2 {
        color: white;
        font-family: 'Iceland', cursive;
        font-size: 64px;
        margin: 0;


        /* used the media_query mixin for creating the media query for 451PX to 750PX in subheading title text */
        @include media_query(451px, 750px){
            font-size: 50px;
        }

        /* used the media_query mixin for creating the media query for 351PX to 450PX in subheading title text */
        @include media_query(351px, 450px){
            font-size: 40px;
        }

        /* used the media_query mixin for creating the media query for 0PX to 350PX in subheading title text */
        @include media_query(0px, 350px){
            font-size: 35px;
        }
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*======================================================================================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* DESIGN CONTAINER */
.design_container {
    background: #050D37 url('../2 - Images/content_bg.png') no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 175px 0 100px 0;

    /* used the center_items mixin for centering items in div */
	@include center_items();

    /* DESIGN SUBHEADING */
    .subheading {
        background: #120D37;
    }

    /* ROBOT IMAGE */
    img.robot {
        position: absolute;
        top: 50px;
        left: 0;
        width: 15%;
        z-index: 2;

        /* used the media_query mixin for creating the media query for 0PX to 600PX in robot image */
        @include media_query(0px, 600px){
            top: 100px;
        }
    }   

    /* DESIGN CONTENT CONTAINER */
    .design_content {
        width: 90%;

        /* BOTH QUOTE CONTAINER*/
        & > * {
            width: 95%;
            position: relative;
            border-radius: 30px;

            /* used the center_items mixin for centering items in div */
		    @include center_items();

            /* WHITE LINE DIV*/
            .white_line {
                width: 90%;
                height: 5px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
                background-color: white;
            }

            /* QUOTE TEXT CONTAINER */
            .quote_text {
                width: 45%;

                /* QUOTE TEXT */
                h3 {
                    font-family: 'Anonymous Pro', monospace;
                    font-size: 32px;
                    font-style: italic;
                    line-height: 50px;
                    letter-spacing: 7px;
                }
                
                /* AUTHOR NAME TEXT */
                h5 {
                    font-family: 'Risque', cursive;
                    font-size: 25px;
                    line-height: 40px;
                    letter-spacing: 5px;
                    text-align: right;
                }

                /* used the media_query mixin for creating the media query for 376PX to 850PX in quote text */
                @include media_query(376px, 850px){
                    margin-right: 2%;

                    /* QUOTE TEXT */
                    h3 {
                        font-size: 25px;
                    }
                    
                    /* AUTHOR NAME TEXT */
                    h5 {
                        font-size: 22px;
                    }
                }

                /* used the media_query mixin for creating the media query for 0PX to 375PX in quote text */
                @include media_query(0px, 375px){
                    margin-right: 2%;

                    /* QUOTE TEXT */
                    h3 {
                        font-size: 20px;
                        text-align: center;
                    }
                    
                    /* AUTHOR NAME TEXT */
                    h5 {
                        font-size: 15px;
                        text-align: center;
                    }
                }
            }

            /* QUOTE IMAGE */
            img {
                width: 40%;
            }
        }

        /* FIRST QUOTE CONTAINER */
        .first_quote {
            margin-left: 5%;
            background-color: #884DA6;

            /* FIRST QUOTE TEXT CONTAINER AND QUOTE IMAGE */
            .quote_text, img {
                margin: 75px auto 100px auto;
            }

            /* FIRST QUOTE WHITE LINE */
            .white_line {
                top: 30px;
            }

            /* FIRST QUOTE TEXT */
            .quote_text h3, .quote_text h5 {
                color: #151544;
            }
        }
        
        /* SECOND QUOTE CONTAINER */
        .second_quote {
            flex-direction: row-reverse;
            margin-right: 5%;
            margin-top: -50px;
            background-color: #151544;

            /* SECOND QUOTE TEXT CONTAINER AND QUOTE IMAGE */
            .quote_text, img {
                margin: 50px auto 100px auto;
            }

            /* SECOND QUOTE WHITE LINE */
            .white_line {
                bottom: 30px;
            }

            /* SECOND QUOTE TEXT */
            .quote_text h3, .quote_text h5 {
                color: #884DA6;
            }
        }

        /* used the media_query mixin for creating the media query for 376PX to 900PX in design */
        @include media_query(376px, 900px){

            width: 90%;

            /* BOTH QUOTE CONTAINER*/
            & > * {

                width: 95%;

                /* QUOTE TEXT CONTAINER */
                .quote_text {
                    width: 85%;
                    margin-right: 3%;
                }

                /* QUOTE IMAGE */
                img {
                    width: 70%;

                    /* used the media_query mixin for creating the media query for 0PX to 450PX in quote image */
                    @include media_query(0px, 450px){
                        width: 90%;
                    }
                }
            }

            /* FIRST QUOTE CONTAINER */
            .first_quote {
                flex-direction: column-reverse;

                /* FIRST QUOTE TEXT CONTAINER */
                .quote_text {
                    margin: 30px auto 50px auto;
                }

                /* QUOTE IMAGE */
                img {
                    margin: 75px auto 0px auto;
                }

                /* FIRST QUOTE WHITE LINE */
                .white_line {
                    top: 30px;
                }

                /* FIRST QUOTE TEXT */
                .quote_text h3, .quote_text h5 {
                    color: #151544;
                }
            }
            
            /* SECOND QUOTE CONTAINER */
            .second_quote {
                flex-direction: column-reverse;

                /* SECOND QUOTE TEXT CONTAINER */
                .quote_text {
                    margin: 50px auto 50px auto;
                }

                /* QUOTE IMAGE */
                img {
                    margin: 50px auto 0px auto;
                }

                /* SECOND QUOTE WHITE LINE */
                .white_line {
                    bottom: 30px;
                }

                /* SECOND QUOTE TEXT */
                .quote_text h3, .quote_text h5 {
                    color: #884DA6;
                }
            }
        }

        /* used the media_query mixin for creating the media query for 0PX to 375PX in design */
        @include media_query(0px, 375px){

            width: 90%;

            /* BOTH QUOTE CONTAINER*/
            & > * {

                width: 100%;
                border-radius: 0;

                /* QUOTE TEXT CONTAINER */
                .quote_text {
                    width: 90%;
                }

                /* QUOTE IMAGE */
                img {
                    width: 95%;
                }
            }

            /* FIRST QUOTE CONTAINER */
            .first_quote {
                flex-direction: column-reverse;
                margin-left: 0;

                /* FIRST QUOTE TEXT CONTAINER */
                .quote_text {
                    margin: 30px auto 50px auto;
                }

                /* QUOTE IMAGE */
                img {
                    margin: 75px auto 0px auto;
                }

                /* FIRST QUOTE WHITE LINE */
                .white_line {
                    top: 30px;
                }

                /* FIRST QUOTE TEXT */
                .quote_text h3, .quote_text h5 {
                    color: #151544;
                }
            }
            
            /* SECOND QUOTE CONTAINER */
            .second_quote {
                flex-direction: column-reverse;
                margin-right: 0;

                /* SECOND QUOTE TEXT CONTAINER */
                .quote_text {
                    margin: 50px auto 50px auto;
                }

                /* QUOTE IMAGE */
                img {
                    margin: 50px auto 0px auto;
                }

                /* SECOND QUOTE WHITE LINE */
                .white_line {
                    bottom: 30px;
                }

                /* SECOND QUOTE TEXT */
                .quote_text h3, .quote_text h5 {
                    color: #884DA6;
                }
            }
        }
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*======================================================================================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* PISTEU ARTWORKS CONTAINER */
.artworks_container {
    width: 100%;
    position: relative;
    background-color: #050D37;

    /* used the center_items mixin for centering items in div */
	@include center_items();

    /* ARTWORKS SUBHEADING */
    .subheading {
        background-color: #6F3096;
    }

    /* ARTWORKS CONTAINER */
    .artworks {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 115px;

        /* EACH ARTWORK DIV */
        & > * {
            width: 33.33%;
            height: 500px;
            display: flex;
            justify-content: center;
            position: relative;
            overflow-y: hidden;

            /* BLUR DIV */
            .blur {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: none;
            }

            /* CAPTION CONTAINER */
            .caption {
                color: white;
                width: 100%;
                padding: 20px 10px;
                flex-direction: column;
                text-align: center;
                position: absolute;
                opacity: 0;
                bottom: 0;
                transform: translateY(100px);
                transition: 0.5s all ease;

                /* used the center_items mixin for centering items in div */
		        @include center_items();

                /* ARTWORK TITLE TEXT */
                h3 {
                    font-family: 'Iceland', cursive;
                    font-size: 40px;
                    line-height: 40px;
                    letter-spacing: 4px;
                    margin: 10px 0;
                }
                
                /* ARTIST TEXT */
                h5 {
                    font-family: 'Anonymous Pro', sans-serif;
                    font-size: 17px;
                    letter-spacing: 4px;
                }
            }

            /* EACH ARTWORK DIV HOVER */
            &:hover {
                background-position: bottom center;

                /* BLUR DIV WHEN ARTWORK DIV IS HOVERED */
                .blur {
                    display: block;
                }

                /* CAPTION CONTAINER WHEN ARTWORK DIV IS HOVERED */
                .caption {
                    opacity: 1;
                    transform: translateY(0);
                }
            } 

            /* used the media_query mixin for creating the media query for 601PX to 800PX in artworks */
            @include media_query(601px, 800px){

                width: 50%;
                background-position: center top !important;

                /* CAPTION CONTAINER */
                .caption {
                    opacity: 0.9;
                    transform: translateY(0);
                }
            }

            /* used the media_query mixin for creating the media query for 0PX to 800PX in artworks */
            @include media_query(0px, 600px){

                width: 100%;
                background-position: center top !important;

                /* CAPTION CONTAINER */
                .caption {
                    opacity: 0.9;
                    transform: translateY(0);
                }
            }
        }

        /* Each loop that iterates all the artworks numbers (used to set the bg color and description text color of each core value) */
        @each $num in $artworks_numbers {

            /* .artworks .artwork1 to .artworks .artwork6 */
            .artwork#{$num}{
                background: url('../2 - Images/artwork_#{$num}.gif') no-repeat center center; /* set the bg image for the corresponding artwork to the artwork_{num value}.gif */
                background-size: cover; /* set the background size to cover */

                /* Caption Container of .artwork#{$num} */
                .caption {
                    background-color: nth($artworkcaption_bgcolor, $num); /* set the artwork caption bg color to the corresponding $num value of $artworkcaption_bgcolor list */
                }
            }
        }
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*======================================================================================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* FEEDBACK CONTAINER */
.feedback_container {
    flex-direction: column;
    position: relative;
    background: #050D37 url('../2 - Images/content_bg.png') no-repeat center center;
    background-size: cover;
    padding-bottom: 150px;

    /* used the center_items mixin for centering items in div */
	@include center_items();

    /* FEEDBACK SUBHEADING */
    .subheading {
        background-color: #06114F;
    }

    /* MELANIE CONTAINER */
    .melanie_container {
        width: 90%;
        margin-top: 175px;
        display: flex;
        align-items: center;

        /* MELANIE PERKINS IMAGE */
        img {
            width: 40%;
            margin-right: 5%;
        }

        /* NAME TEXT CONTAINER */
        .name_text {
            width: 50%;
            flex-direction: column;
            text-align: center;
            padding: 30px 0;
            font-family: 'Iceberg', cursive;
            background-color: rgba(55, 78, 129, 0.6);
            border: 15px solid #F7A579;
            border-radius: 10px;

            /* used the center_items mixin for centering items in div */
		    @include center_items();

            /* MELANIE NAME TEXT */
            h2 {
                color: white;
                width: 80%;
                font-size: 96px;
                line-height: 120px;
                margin: 0 0 40px 0;
            }
            
            /* MELANIE DESCRIPTION TEXT */
            h5 {
                color: #6BE7F9;
                width: 80%;
                font-size: 40px;
                line-height: 50px;
                margin: 0;
            }
        }

        /* used the media_query mixin for creating the media query for 651PX to 950PX in melanie container */
        @include media_query(651px, 950px){
            width: 95%;

            /* MELANIE PERKINS IMAGE */
            img {
                width: 42%;
            }

            /* NAME TEXT CONTAINER */
            .name_text {
                border-radius: 15px;

                /* MELANIE NAME TEXT */
                h2 {
                    font-size: 70px;
                    line-height: 70px;
                }
                
                /* MELANIE DESCRIPTION TEXT */
                h5 {
                    font-size: 35px;
                    line-height: 50px;
                }
            }
        }

        /* used the media_query mixin for creating the media query for 551PX to 650PX in melanie container */
        @include media_query(551px, 650px){
            width: 95%;

            /* MELANIE PERKINS IMAGE */
            img {
                width: 42%;
            }

            /* NAME TEXT CONTAINER */
            .name_text {
                border-radius: 15px;

                /* MELANIE NAME TEXT */
                h2 {
                    font-size: 50px;
                    line-height: 70px;
                }
                
                /* MELANIE DESCRIPTION TEXT */
                h5 {
                    font-size: 25px;
                    line-height: 50px;
                }
            }
        }

        /* used the media_query mixin for creating the media query for 0PX to 550PX in melanie container */
        @include media_query(0px, 550px){
            width: 95%;
            flex-direction: column;
            margin-top: 150px;

            /* MELANIE PERKINS IMAGE */
            img {
                width: 60%;
            }

            /* NAME TEXT CONTAINER */
            .name_text {
                border-radius: 15px;
                width: 80%;
                margin-top: -100px;
                padding-top: 100px;

                /* MELANIE NAME TEXT */
                h2 {
                    font-size: 40px;
                    line-height: 70px;
                    margin: 0 0 20px 0;
                }
                
                /* MELANIE DESCRIPTION TEXT */
                h5 {
                    font-size: 20px;
                    line-height: 50px;
                }

                /* used the media_query mixin for creating the media query for 0PX to 550PX in melanie container */
                @include media_query(0px, 400px){
                    margin-top: -75px;
                }
            }
        }
    }

    /* FEEDBACK TEXT CONTAINER */
    .feedback_text {
        width: 90%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.75);
        color: white;
        position: relative;
        margin-top: 70px;

        /* used the center_items mixin for centering items in div */
		@include center_items();

        /* ROBOT IMAGE */
        img {
            position: absolute;
            width: 7%;
            height: auto;
            left: -30px;
            bottom: -50px;
        }
        
        /* FEEDBACK TEXT */
        p {
            font-family: 'Anonymous Pro', sans-serif;
            font-size: 30px;
            line-height: 60px;
            margin: 40px;
        }

        /* used the media_query mixin for creating the media query for 751PX to 950PX in feedback container */
        @include media_query(751px, 950px){
            width: 92%;

            /* ROBOT IMAGE */
            img {
                left: -10px;
                bottom: -30px;
            }
            
            /* FEEDBACK TEXT */
            p {
                font-size: 20px;
                line-height: 50px;
            }
        }

        /* used the media_query mixin for creating the media query for 501PX to 750PX in feedback container */
        @include media_query(501px, 750px){
            width: 92%;

            /* ROBOT IMAGE */
            img {
                width: 10%;
                left: -10px;
                bottom: -30px;
            }
            
            /* FEEDBACK TEXT */
            p {
                font-size: 20px;
                line-height: 50px;
            }
        }

        /* used the media_query mixin for creating the media query for 0PX to 500PX in feedback container */
        @include media_query(0px, 500px){
            width: 92%;

            /* ROBOT IMAGE */
            img {
                width: 18%;
                left: -20px;
                bottom: -40px;
            }
            
            /* FEEDBACK TEXT */
            p {
                font-size: 17px;
                line-height: 40px;
                margin: 20px 10px;
            }
        }
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*======================================================================================================*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* FOOTER */
footer {
    width: 100%;
    background-color: #06114F;
    padding: 50px 30px;

    /* used the center_items mixin for centering items in div */
	@include center_items();

    /* PISTEU DESCRIPTION CONTAINER */
    .pisteu_desc {
        width: 35%;
        margin-right: 5%;

        /* PISTEU DESCRIPTION TEXT */
        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 35px;
            margin: 50px 0;
            color: #8ECECF;
        }
    }

    /* CONNECT WITH US CONTAINER */
    .connect_with_us {
        width: 50%;
        padding: 0 8%;
        border-left: 1px solid white;
        flex-direction: column;
        text-align: center;
        color: #BA8FFF;

        /* used the center_items mixin for centering items in div */
		@include center_items();

        /* CONNECT WITH US TITLE TEXT */
        h3 {
            font-family: 'Kaushan Script', cursive;
            font-size: 48px;
            line-height: 70px;
            margin: 0 0 30px 0;
        }
        
        /* CONNECT WITH US DESCRIPTION TEXT */
        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            margin: 0 0 50px 0;
        }

        /* SEND EMAIL FORM */
        form {
            width: 100%;
        }
        
        /* INPUT SETTINGS */
        input[type=email], input[type=text] {
            width: 48.5%;
            padding: 10px 15px;
            background-color: transparent;
            color: white;
            border: 5px solid white;
            letter-spacing: 2px;
            margin-bottom: 15px;

            /* used the media_query mixin for creating the media query for 0PX to 500PX in input settings */
            @include media_query(0px, 500px){

                width: 100%;
            }
        }
        
        /* EMAIL INPUT */
        input[type=email] {
            width: 100%;
         }
        
         /* LEFT TEXT INPUT */
        .left_input {
            float: left;
        }
        
        /* RIGHT TEXT INPUT */
        .right_input {
            float: right;
        }

        /* MESSAGE INPUT */
        textarea {
            width: 100%;
            background-color: transparent;
            color: white;
            border: 5px solid white;
            margin-top: 5px;
            padding: 5px 10px;
            resize: none;
            height: 100px;
            letter-spacing: 2px;
            line-height: 25px;
        }

        /* INPUT PLACEHOLDER SETTINGS */
        input[type=email]::placeholder, input[type=text]::placeholder, textarea::placeholder {
            color: #BA8FFF;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 600;
        }

        /* INPUT FOCUS SETTINGS */
        input[type=email]:focus, input[type=text]:focus, textarea:focus {
            border-color: #8ECECF;
            outline: none;
        }

        /* SEND MESSAGE BUTTON */
        input[type=submit] {
            color: #06114F;
            background-color: #BA8FFF;
            padding: 5px 30px;
            margin-top: 30px;
            font-size: 17px;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            letter-spacing: 3px;
            line-height: 30px;
            border: none;
            float: left;

            /* SEND MESSAGE BUTTON HOVER*/
            &:hover {
                cursor: pointer;
                background-color: #EFB34C;
            }
        }

        /* MESSAGE SENT TEXT (hidden initially) */
        p#message_sent_txt {
            float: left;
            margin: 35px 0 0 20px;
            color: #8ECECF;
            display: none;

            /* MESSAGE SENT TEXT WHEN ACTIVE (shown) */
            &.active{
                display: block;
            }
        }
    }

    /* used the media_query mixin for creating the media query for 0PX to 950PX in footer */
    @include media_query(0px, 950px){
        flex-direction: column;

        /* PISTEU DESCRIPTION CONTAINER */
        .pisteu_desc {
            width: 95%;
            margin-right: 0;
            flex-direction: column;
            text-align: center;
        
            /* used the center_items mixin for centering items in div */
		    @include center_items();

            /* PISTEU DESCRIPTION TEXT */
            p {
                font-size: 17px;
                margin: 30px 0;
            }
        }

        /* CONNECT WITH US CONTAINER */
        .connect_with_us {
            width: 95%;
            border-left: none;
            border-top: 1px solid white;
            padding-top: 50px;
            flex-direction: column;

            /* used the center_items mixin for centering items in div */
            @include center_items();
            
            /* CONNECT WITH US DESCRIPTION TEXT */
            p {
                font-size: 17px;
            }

            /* INPUT PLACEHOLDER SETTINGS */
            input[type=email]::placeholder, input[type=text]::placeholder, textarea::placeholder {
                font-size: 12px;
            }

            /* SEND MESSAGE BUTTON */
            input[type=submit] {
                font-size: 14px;
            }
        }
    }
}